<div class="bg-secondary">
  <%= partial "partials/navbar_minimal" %>
  <%= partial "partials/heroe" %>
</div>
<%= partial "partials/features_content" %>
<%= partial "partials/testimonial" %>
<%= partial "partials/features" %>
<%= partial "partials/contact" %>
<%= partial "partials/footer" %>
