<div class="bg-cover" style="background-image: url('https://rmanetwork.com/wp-content/uploads/2021/03/Untitled-design-2020-11-16T145534.055.jpg')">
  <%= partial "partials/navbar" %>
  <%= partial "partials/heroe" %>
</div>
<%= partial "partials/features_content" %>
<%= partial "partials/testimonial" %>
<%= partial "partials/features" %>
<%= partial "partials/contact" %>
<%= partial "partials/footer" %>
